.app__wrap {
  padding: 20px 15px;
  margin: 0 auto;
  max-width: 800px; }

.app__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px; }

.app__top-input {
  width: 80% !important; }

.app__filter {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline; }
  .app__filter span + div {
    width: 30px !important;
    margin-left: 30px;
    transform: translateY(4px); }

.app__filter-icon {
  margin-right: 20px;
  color: #777 !important;
  transform: translateY(4px); }

.app__top-btn {
  transform: translateY(15px); }

@media screen and (max-width: 600px) {
  .app__top {
    flex-wrap: wrap;
    margin-bottom: 30px; }
  .app__top-input {
    width: 100% !important; } }
